<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<style>
a{
 color:blue;
 font-family: "Times New Roman", Times, serif;
  font-weight: bold;

}
</style>
</head>
<body>
<div class="card" style="width:45%">
  
  <div class="card-body">
    <br>
    <br>
    <a href="survey.html" class="btn btn-primary stretched-link" target="right">SURVEY</a>
	<br>
	<br>
	<a href="details.html" class="btn btn-primary stretched-link" target="right">PROFILE</a>
	<br>
	<br>
	<a href="result.html" class="btn btn-primary stretched-link" target="right">RESULT</a>
  </div>
</div>
</body>
</html>
